<tr>
  <td>
    <h4>
      <strong>
        <%= link_to post.title, post, class: "btn btn-link" %>
      </strong>
    </h4>
  </td>
  <td><%= post.body %></td>
  <td><%= link_to 'Show', post %></td>
  <% if user_signed_in? %>
      <% if current_user.author_of?(post) %>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
      <td>
        <% if current_user.subscribed_to?(post) %>
          <%= link_to 'Unsubscribe', current_user.subscription_for(post), method: :delete%>
        <% else %>
            <%= link_to 'Subscribe', post_subscriptions_path(post), method: :post %>
        <% end %>
      </td>
  <% end %>
</tr>